@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display+SC|Playfair+Display');
body {
	background: #000000;
	margin: 0;
}

.playfair-min {
	font-family: 'Playfair Display', serif;
}

.playfair {
	font-family: 'Playfair Display SC', serif;
}

.lato {
	font-family: 'Lato', sans-serif;
}

#header {
	background: white;
	margin: 0;
	margin-top: 5%;
}

#hidden-text {
	display: none;
}

#header,
#main {
	width: 90%;
	margin-left: 5%;
}

#main {
	margin-bottom: 5%;
}

#header-title {
	width: 100%;
}

nav {
	background: #f2f2f2;
}
#title {
	margin: 0;
	font-size: 1em;
	padding: 3% 3% 0 6%;
}

ul {
	padding-left: 4%;
}

li {
	display: inline-block;
	font-size: 0.7em;
	margin: 2% 1%;
}

#main-text {
	color: white;
	padding-left: 2%;
}

#main-text h2 {
	font-size: 1.1em;
}

#main-text p {
	font-size: 0.6em;
}

.img-container {
	background: #ffffff;
	margin-bottom: 5%;
}

img {
	display: block;
	height: 95%;
	width: 100%;
}

.desktop-featured {
	display: none;
}

.img-container p {
	font-size: 0.7em;
	padding: 1% 1% 2% 1%;
	margin: 1% 2% 5% 2%;
}

#description {
	background: #ffffff;
	padding: 3% 8%;
}

#description img {
	display: none;
}

#description p {
	font-size: 0.7em;
	line-height: 23px;
}

@media (min-width: 800px) {
	body {
		background: #ffffff;
	}
	#header {
		float: left;
		min-height: 858px;
		width: 65%;
		margin: 0;
		padding: 0;
		background-image: url(http://source.unsplash.com/1600x900/?flowers);
		/* background: #ffffff; */
	}

	nav,
	#header-title {
		background: #ffffff;
		width: 190px;
		margin-left: 70px;
		opacity: 0.9;
	}
	#header-title {
		margin-top: 70px;
	}

	#title {
		font-size: 1.1em;
		padding: 8%;
	}

	ul {
		padding: 10%;
		margin-top: 0;
	}

	li {
		display: block;
		margin-bottom: 5%;
		font-size: 0.8em;
	}

	#hidden-text {
		display: block;
		margin-top: 450px;
		margin-left: 70px;
	}

	#hidden-text p {
		color: #ffffff;
	}

	#main {
		float: right;
		width: 34%;
		margin: 0;
		min-height: 858px;
		display: table;
	}

	#main-text {
		display: none;
	}

	#image-div {
		/* height: 50%; */
		min-height: 400px;
		margin-bottom: -1%;
		position: relative;
		background: green;
		overflow: hidden;
	}

	#image-div:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0.6;
		background-image: url('http://source.unsplash.com/1600x900/?nature');
		background-repeat: no-repeat;
		background-position: 50% 0;
		-ms-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
	}

	.img-container {
		margin: 0;
		padding-top: 10%;
		background: rgba(0, 0, 0, 0);
		background: green;
	}

	.img-container p:nth-child(1) {
		font-size: 1.1em;
		color: #ffffff;
	}

	.img-container p:nth-child(2) {
		font-size: 1.5em;
		color: #ffffff;
		margin-top: -9%;
	}

	.desktop-featured {
		display: block;
		text-align: center;
		position: relative;
		top: 4.7em;
	}

	.img-container:nth-child(1) img,
	.img-container:nth-child(2),
	.img-description {
		display: none;
	}

	#description {
		margin-top: 5%;
		padding: 10%;
		background: #000000;
		color: #ffffff;
		min-height: 300px;
		display: table-row;
		height: 51%;
	}

	#description p {
		margin: 10% 14%;
		font-size: 0.9em;
		line-height: 30px;
	}

	#description img {
		display: block;
		height: 50px;
		margin-top: 10%;
		margin-left: 14%;
		width: auto;
	}
}
